<%= form_for :post ,:url => {:action => 'editPost' , :id => params[:id]} do  |post| %>

  <p>
    <%= post.label :content, " Edit Your Content:" %>
    <%= post.text_area :content  %>
  </p>
  	<%= post.label :Picture %>
    <%= post.file_field :img, autofocus: true %>
  <p class='buttons'>
    <%= post.submit "Go" %>
  </p>

<% end %>
<li><a><%= link_to 'Home', root_path %></a></li>